<template>
    <div class="container mx-auto">
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                    <div class="overflow-hidden py-5">
                        <nuxt-link to="/dashboard/todos/insert"
                            aria-current="page"
                            data-te-nav-link-ref
                            class="d-block mb-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                        >
                            Add Todo
                        </nuxt-link>
                        <table class="min-w-full text-left text-sm font-light mt-5">
                            <thead class="border-b border-t font-medium dark:border-neutral-500">
                                <tr>
                                    <th scope="col" class="px-6 py-4">#</th>
                                    <th scope="col" class="px-6 py-4">Todo</th>
                                    <th scope="col" class="px-6 py-4">Label</th>
                                    <th scope="col" class="px-6 py-4">Created Date</th>
                                    <th scope="col" class="px-6 py-4">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="todos && todos?.length > 0">
                                    <tr v-for="todo in todos" :key="todo.id.toString()" class="border-b dark:border-neutral-500">
                                        <td class="whitespace-nowrap px-6 py-4 font-medium">{{ todo.id }}</td>
                                        <td class="whitespace-nowrap px-6 py-4">{{ todo.title }}</td>
                                        <td class="whitespace-nowrap px-6 py-4">{{ getLabel(todo.label_id) }}</td>
                                        <td class="whitespace-nowrap px-6 py-4">
                                            <router-button
                                                label="Edit"
                                                :to="`/dashboard/todos/${todo.id}`"
                                            />
                                            <s-button
                                                class="ml-5"
                                                label="Delete"
                                                @click="remove(todo.id)"
                                            />
                                        </td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr class="border-b dark:border-neutral-500">
                                        <td colspan="5" class="text-center p-4">Label Not Found</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import type Label from '~/Interfaces/Label';
import type Todo from '~/Interfaces/Todo';
const todos = ref<Todo[]>();
const labels = ref<Label[]>();
const fetchData = async () => {
    todos.value = await $fetch<Todo[]>("/api/todos");
}

onMounted(async () => {
    fetchData()
    labels.value = await $fetch<Label[]>("/api/labels");
})

const getLabel = (id: Number) => {
    return labels.value?.filter((x) => x.id == id)[0].label
}

const remove = async (id: Number) => {
    await $fetch<Todo[]>(`/api/todos/${id}`, {
        method: "DELETE"
    });

    await fetchData()
}
</script>