<template>
    <div
      class="container mx-auto mt-5 block rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
        <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
            Insert Todo
        </h5>
        <div class="container mx-auto mt-5">
            <form @submit.prevent="onSubmit">
                <s-input
                    v-model="form.title"
                    name="label"
                    label="Title"
                />
                <hr class="my-5">
                <s-input
                    v-model="form.description"
                    name="label"
                    label="Description"
                />
                <hr class="my-5">
                <s-select
                    v-model="form.label_id"
                    name="label"
                    label="Select Label"
                    :options="labelOptions"
                />
                <hr class="my-5">
                <s-button 
                    label="Save"
                    type="submit"
                />
            </form>
        </div>
    </div>

</template>
<script setup lang="ts">
import type Todo from '~/Interfaces/Todo';
import { ref } from 'vue';
import type Label from '~/Interfaces/Label';
import type SelectType from '~/Interfaces/SelectType';
const router = useRouter()

const labels = ref<Label[]>();

const labelOptions = computed(() => {
    return labels.value?.map((label: Label) => {
        return {
            label: label.label,
            value: label.id
        };
    }) as SelectType[] | undefined;
}) 

onMounted(async () => {
    labels.value = await $fetch<Label[]>(`/api/labels`);
})

const form = ref<Todo>({
    title: "",
    description: "",
    label_id: 0,
    created_at: (new Date()).toDateString()
});


const onSubmit = async () => {
    await $fetch("/api/todos", {
        method: 'POST',
        body: form.value
    })

    router.push("/dashboard/todos")
}
</script>