<template>
    <div style="text-align: center;">
        <ul :style="(isBorder ? 'border: 3px solid ' + color : '') + ';color:' + color ">
            <li v-if="currentTime.days > 0 ">{{ currentTime.days > 9 ? currentTime.days : '0' + currentTime.days }}</li>
            <li v-if="currentTime.days > 0 ">:</li>
            <li v-if="currentTime.hours > 0">{{ currentTime.hours > 9 ? currentTime.hours : '0' + currentTime.hours }}</li>
            <li v-if="currentTime.hours > 0">:</li>
            <li>{{ currentTime.minutes > 9 ? currentTime.minutes : '0' + currentTime.minutes }}</li>
            <li>:</li>
            <li>{{ currentTime.seconds > 9 ? currentTime.seconds : '0'+ currentTime.seconds }}</li>
            <div class="clearfix"></div>
        </ul> 
    </div>
</template>

<script setup>
const props = defineProps({
    deadline: {
        default: null,
        type: String
    },
    speed: {
        default: 1000,
        type: Number
    },
    isStart: {
        default: false,
        type: Boolean
    },
    color: {
        default: "",
        type: String
    },
    isBorder: {
        default: "",
        type: Boolean
    }
})

const currentTime = ref({
    total: 0,
    days: 0,
    hours: 0,
    minutes: 0,
    seconds: 0
});

const reSetCurrentTime = () => {
    let t = Date.parse(props.deadline || new Date()) - Date.parse(new Date());
    t = parseInt(t) > 0 ? t : 0;
    currentTime.value.total = parseInt(t) > 0 ? t : 0;
    currentTime.value.seconds = Math.floor((t / 1000) % 60);
    currentTime.value.minutes = Math.floor((t / 1000 / 60) % 60);
    currentTime.value.hours = Math.floor((t / (1000 * 60 * 60)) % 24);
    currentTime.value.days = Math.floor(t / (1000 * 60 * 60 * 24));
}

const countDowner = () => {
    setTimeout(() => {
        if (props.isStart) {
            reSetCurrentTime();
        }
        countDowner()
    },1000)
}
watchEffect(() => {
    reSetCurrentTime()
})

onMounted(async () => {
    reSetCurrentTime()
    countDowner()
})
</script>

<style lang="scss">
    ul{
        line-height: 40px;
        padding:10px;
        display: inline-block;
        margin:10px auto;
        border-radius: 6px;

        & li {
            float:left;
            font-size:24px;
            font-weight: 800;
        }
        &::after{
            clear: both;
        }
    }

    .clearfix{
        clear: both;
    }

</style>