<template>
    <div class="relative mb-3" data-te-input-wrapper-init>
        <div class="relative mb-3 " data-te-input-wrapper-init>
            <h6 class="text-lg mb-2 mb-4">{{ label }}</h6>
            <input
                :type="type"
                class="peer block min-h-[auto] w-full rounded border-2 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                :placeholder="label" 
                v-bind="attr"
                v-model="value"
                :name="name"
                id="exampleFormControlInput1"
            />
        </div>
        
    </div>
</template>
<script setup lang="ts">
import { computed, useAttrs } from "vue"
const props = defineProps(['modelValue',"type","label","name"])
const emit = defineEmits(['update:modelValue'])
const attr = useAttrs()
const value = computed({
    get: () => {
        return props.modelValue
    },
    set(val) {
        emit("update:modelValue", val);
    }
})
</script>