<template>
    <div v-if="new Date()">
        <div class="flex mb-4 grow">
            <div
                :class="counter.isBg ? 'block rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700' : 'background:transaparent'">
                <h5 v-if="counter.isTitle" class="mb-2 text-xl font-medium leading-tight text-neutral-[800] dark:text-neutral-50 text-bold" :style="'color:' + counter.color">
                    {{ counter?.title }} 
                </h5>
                <hr  v-if="counter.isTitle" :style="'border:2px solid ' + counter.color">
                <p><count-down :deadline="counter?.ended_at" :color="counter.color" :isBorder="counter.isBorder" :is-start="!!counter.started_at"></count-down></p>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import type Counter from '~/Interfaces/Counter';


definePageMeta({
    layout: 'stream'
})

const route = useRoute();

const counter = ref<Counter>({
    title: "",
    description: "",
    ended_at: "",
    started_at: '',
    created_at: "",
    color:"#fff",
    second: 0,
    isBg: false,
    isTitle: false,
    isBorder: false,
    id: "",
})

const fetchData = async () => {
    counter.value = await $fetch<Counter>(`/api/counters/${route.params.id}`);
}

onMounted(async () => {
    await fetchData()
})

setInterval(() => {
    fetchData()
}, 10000)
</script>