<template>
    <div class="container mx-auto">
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                    <div class="overflow-hidden py-5">
                        <nuxt-link to="/dashboard/labels/insert"
                            aria-current="page"
                            data-te-nav-link-ref
                            class="d-block mb-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                        >
                            Add Label
                        </nuxt-link>
                        <table class="min-w-full text-left text-sm font-light mt-5">
                            <thead class="border-b border-t font-medium dark:border-neutral-500">
                                <tr>
                                    <th scope="col" class="px-6 py-4">#</th>
                                    <th scope="col" class="px-6 py-4">Label</th>
                                    <th scope="col" class="px-6 py-4">Created Date</th>
                                    <th scope="col" class="px-6 py-4">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="labels && labels?.length > 0">
                                    <tr v-for="label in labels" :key="label.id.toString()" class="border-b dark:border-neutral-500">
                                        <td class="whitespace-nowrap px-6 py-4 font-medium">{{ label.id }}</td>
                                        <td class="whitespace-nowrap px-6 py-4">{{ label.label }}</td>
                                        <td class="whitespace-nowrap px-6 py-4">{{ label.created_at }}</td>
                                        <td class="whitespace-nowrap px-6 py-4">
                                            <router-button
                                                label="Edit"
                                                :to="`/dashboard/labels/${label.id}`"
                                            />
                                            <router-button
                                                class="ml-5"
                                                label="Go To Link"
                                                :to="`/stream/labels/${label.id}`"
                                            />
                                            <s-button
                                                class="ml-5"
                                                label="Delete"
                                                @click="remove(label.id)"
                                            />
                                        </td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr class="border-b dark:border-neutral-500">
                                        <td colspan="5" class="text-center p-4">Label Not Found</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import type Label from '~/Interfaces/Label';
const labels = ref<Label[]>();
const fetchData = async () => {

    labels.value = await $fetch<Label[]>("/api/labels");
}

onMounted(async () => {
    fetchData()
})

const remove = async (id: Number) => {
    await $fetch<Label[]>(`/api/labels/${id}`, {
        method: "DELETE"
    });

    await fetchData()
}


</script>