<template>
    <div
      class="container mx-auto mt-5 block rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
        <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
            Insert Label
        </h5>
        <div class="container mx-auto mt-5">
            <form @submit.prevent="onSubmit">
                <s-input
                    v-model="form.label"
                    name="label"
                    label="Label Name"
                />
                <hr class="my-5">
                <s-button 
                    label="Save"
                    type="submit"
                />
            </form>
        </div>
    </div>

</template>
<script setup lang="ts">
import type Label from '~/Interfaces/Label';
import { ref } from 'vue';
const router = useRouter()

const form = ref<Label>({
    label: "",
    created_at: (new Date()).toDateString()
});

const onSubmit = async () => {
    await $fetch("/api/labels", {
        method: 'POST',
        body: form.value
    })

    router.push("/dashboard/labels")
}
</script>