<template>
    <div>
        <div class="flex mb-4 grow">
            <div v-for="label in filteredLabel" :key="label.id.toString()" :class="`w-1/${labels?.length} grow bg-black-00 p-5`">
                <div
                    class="block rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                    <h5
                        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50 text-bold">
                        {{ label.label }}
                    </h5>
                    <hr style="border:2px solid #555">
                    <ol>
                        <li v-for="todo in getLabelTodos(label.id)" :key="todo.id.toString()" style="border-bottom:2px solid #cecece" class="py-4 text-bold">
                            {{ todo.title }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">

import type Label from '~/Interfaces/Label';
import type Todo from '~/Interfaces/Todo';

definePageMeta({
    layout: 'stream'
})

const route = useRoute();

const labels = ref<Label[]>()
const todos = ref<Todo[]>()

const fetchData = async () => {
    labels.value = await $fetch<Label[]>("/api/labels");
    todos.value = await $fetch<Todo[]>("/api/todos");
}

const filteredLabel = computed(() => {
    let id: Number = parseInt(route.params.id.toString());

    return labels.value?.filter((x: Label) => x.id ==  id);
})

const getLabelTodos = (label_id: Number) => {
    return todos.value?.filter((x) => x.label_id == label_id)
}

onMounted(async () => {
    fetchData()
})


setInterval(() => {
    fetchData()
}, 60000)
</script>