<template>
    <div>
        <div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
    	<div class="relative py-3 sm:max-w-xl sm:mx-auto">
    		<div
    			class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
    		</div>
    		<div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
    			<div class="max-w-md mx-auto">
    				<div>
    					<h1 class="text-2xl font-semibold">Login Form with Floating Labels</h1>
    				</div>
    				<div class="divide-y divide-gray-200">
    					<form @submit.prevent="onSubmit">
							<div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
	    						<div class="relative">
	    							<input autocomplete="off" id="email" v-model="form.username" name="email" type="text" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Email address" />
	    							<label for="email" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Email Address</label>
									<small class="text-red-500">
										{{ errors.username.$error && errors.username.$errors[0].$message || '' }}
									</small>
	    						</div>
	    						<div class="relative">
	    							<input autocomplete="off" id="password" v-model="form.password" name="password" type="password" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Password" />
	    							<label for="password" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Password</label>
									<small class="text-red-500">
										{{ errors.password.$error && errors.password.$errors[0].$message || '' }}
									</small>
	    						</div>
								<div v-if="noUser">
									<small class="text-red-500">
										{{ noUser ? 'invalid-user' : '' }}
									</small>
								</div>
	    						<div class="relative">
	    							<button type="submit" class="bg-blue-500 text-white rounded-md px-2 py-1">Submit</button>
	    						</div>
	    					</div>
						</form>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    </div>
</template>

<script setup lang="ts">
import { useVuelidate } from '@vuelidate/core'
import { required } from '@vuelidate/validators'
import type User from '~/Interfaces/User';
import { useAuthenticateStore } from '~/store/authenticate';

const noUser = ref<boolean>(false)
const form = ref<User>({
	username: "",
	password: ""
});

const router = useRouter()
const rules = {
	username: { required }, // Matches state.firstName
	password: { required }, // Matches state.lastName
}

const errors = useVuelidate(rules, form.value);

const onSubmit = async () => {
	if (!await errors.value.$validate()) {
		return
	}

	try {
		const data = await $fetch<User[]>(`api/users`, {
			query: {
				username: form.value.username,
				password: form.value.password,
			}
		});

		if (data.length > 0) {
			const { setLoggedUser } = useAuthenticateStore();
			setLoggedUser(data[0]);
			router.push("/dashboard");
		}

		noUser.value = true

	} catch (error) {
		
	}

}
</script>