<template>
    <div
        class="container mx-auto mt-5 block rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
        <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
            Edit Label
        </h5>
        <div class="container mx-auto mt-5">
            <form @submit.prevent="onSubmit">
                <s-input
                    v-model="form.title"
                    name="label"
                    label="Title"
                />
                <hr class="my-5">
                <s-input
                    v-model="form.description"
                    name="label"
                    label="Description"
                />
                <hr class="my-5">
                <VueDatePicker v-model="form.ended_at"></VueDatePicker>
                <hr class="my-5">
                <s-input
                    v-model="form.second"
                    name="label"
                    type="number"
                    label="Countdown Second"
                />
                <hr class="my-5">
                <s-input
                    v-model="form.isBg"
                    name="label"
                    type="checkbox"
                    label="Want Background"
                />
                <hr class="my-5">
                <s-input
                    v-model="form.isTitle"
                    name="label"
                    type="checkbox"
                    label="Want Title"
                />
                <hr class="my-5">
                <s-input
                    v-model="form.isBorder"
                    name="label"
                    type="checkbox"
                    label="Want Border"
                />
                <hr class="my-5">
                <s-input
                    v-model="form.color"
                    name="label"
                    type="color"
                    label="Text Color"
                />
                <hr class="my-5">
                <s-button 
                    label="Save"
                    type="submit"
                />
            </form>
        </div>
    </div>
</template>
<script setup lang="ts">
import type Counter from '~/Interfaces/Counter';
import { ref } from 'vue';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'

const route = useRoute()
const router = useRouter()

const form = ref<Counter>({
    id: "",
    title: "",
    description: "",
    started_at: "",
    ended_at: "",
    isBg: false,
    isTitle: false,
    isBorder: false,
    color:"#fff",
    second:0,
    created_at: (new Date()).toDateString()
});

onMounted(async () => {
    form.value = await $fetch<Counter>(`/api/counters/${route.params.id}`);
})

const onSubmit = async () => {
    await $fetch(`/api/counters/${form.value.id}`, {
        method: 'PUT',
        body: form.value
    })

    router.push("/dashboard/counters");
}
</script>