<template>
    <div class="container mx-auto">
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                    <div class="overflow-hidden py-5">
                        <nuxt-link to="/dashboard/counters/insert"
                            aria-current="page"
                            data-te-nav-link-ref
                            class="d-block mb-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                        >
                            Add Counter
                        </nuxt-link>
                        <table class="min-w-full text-left text-sm font-light mt-5">
                            <thead class="border-b border-t font-medium dark:border-neutral-500">
                                <tr>
                                    <th scope="col" class="px-6 py-4">#</th>
                                    <th scope="col" class="px-6 py-4">title</th>
                                    <th scope="col" class="px-6 py-4">Counter</th>
                                    <th scope="col" class="px-6 py-4">Started_at</th>
                                    <th scope="col" class="px-6 py-4">Ended_at</th>
                                    <th scope="col" class="px-6 py-4">Created Date</th>
                                    <th scope="col" class="px-6 py-4">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="counters && counters?.length > 0">
                                    <tr v-for="counter in counters" :key="counter?.id?.toString()" class="border-b dark:border-neutral-500">
                                        <td class="whitespace-nowrap px-6 py-4 font-medium">{{ counter.id }}</td>
                                        <td class="whitespace-nowrap px-6 py-4">{{ counter.title }}</td>
                                        <td class="whitespace-nowrap px-6 py-4">{{ counter.second }}</td>
                                        <td class="whitespace-nowrap px-6 py-4">{{ counter.started_at }}</td>
                                        <td class="whitespace-nowrap px-6 py-4">{{ counter.ended_at }}</td>
                                        <td class="whitespace-nowrap px-6 py-4">{{ counter.created_at }}</td>
                                        <td class="whitespace-nowrap px-6 py-4">
                                            <router-button
                                                label="Edit"
                                                :to="`/dashboard/counters/${counter.id}`"
                                            />
                                            <s-button v-if="counter.id"
                                                class="ml-5"
                                                label="Delete"
                                                @click="remove(counter?.id)"
                                            />
                                            <s-button v-if="counter.id"
                                                class="ml-5"
                                                :label="!!counter.started_at ? 'Stop' : 'Start'"
                                                @click="startCounter(counter)"
                                            />
                                            <s-button v-if="counter.id"
                                                class="ml-5"
                                                label="ReStart"
                                                @click="reStartCounter(counter)"
                                            />
                                        </td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr class="border-b dark:border-neutral-500">
                                        <td colspan="5" class="text-center p-4">Label Not Found</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import moment from 'moment';
import type Counter from '~/Interfaces/Counter';
const counters = ref<Counter[]>();
const fetchData = async () => {
    counters.value = await $fetch<Counter[]>("/api/counters");
}

onMounted(async () => {
    fetchData()
})

const remove = async (id: string) => {
    await $fetch<Counter[]>(`/api/counters/${id}`, {
        method: "DELETE"
    });

    await fetchData()
}

const startCounter = async (counter : Counter) => {
    await $fetch<Counter>(`/api/counters/${counter.id}`, {
        method: "PUT",
        body: {
            ...counter,
            started_at: !!counter.started_at ? '' : moment().toString()
        }
    });

    await fetchData()
}

const reStartCounter = async (counter : Counter) => {
    await $fetch<Counter>(`/api/counters/${counter.id}`, {
        method: "PUT",
        body: {
            ...counter,
            started_at: !!counter.started_at ? '' : moment().toString(),
            ended_at: moment().add(counter.second, "second").toString()
        }
    });

    await fetchData()
}
</script>